<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="POST" action="/">
	<h1>Name<input type="text" name="name"></h1>
	<h1>Breed<input type="text" name="breed"></h1>
	<h1>Age<input type="text" name="age"></h1>

	<input type="submit" name="Submit" id="submit">
</form>

</body>
</html>